html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #495057;
  color: rgba($color: #000000, $alpha: 0.6);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}